
img {
  object-fit: cover;
}

// .browse-btn{
//   padding: 0.5rem 2.5rem;
// }

@media screen and (max-width: 900px) {
  .file-uploader-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    margin: auto;
    span {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    label {
      width: -webkit-fill-available;
    }
    img {
      margin: 5px;
    }
    p {
      width: 260px;
      overflow: hidden;
      margin-top: 20px;
    }
  }
}



