<div class="flex__d file-uploader-wrapper">
    <div
        style="
            width: 300px;
            padding-top: 8px !important;
            padding-right: 2rem !important;
        "
    >
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input
                    type="file"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #fileInput
                    (change)="onFileChange($event)"
                />
            </div>
            <div class="avatar-preview">
                <div
                    id="imagePreview"
                    [style.backgroundImage]="'url(' + imageBaseUrl + ')'"
                ></div>
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-danger btn-lg btn-block"
            (click)="fileInput.click()"
        >
            Upload Image
        </button>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <h3 mat-dialog-title style="text-align: center">Crop Image</h3>
    <mat-dialog-content class="mat-typography">
        <div class="modal-body" >
            <img
                style="height: 200px !important; width: 200px !important"
                [src]="imageFile"
                [height]="150"
            />
            <br />
            <image-cropper
                [imageChangedEvent]="croppedFile"
                [maintainAspectRatio]="true"
                [aspectRatio]="imageRatio"
                [resizeToWidth]="500"
                format="png"
                (imageCropped)="croppedImage($event)"
                (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button
            (click)="uploadImageToServer(imageFile)"
            mat-button
        >
            Upload
        </button>
    </mat-dialog-actions>
</ng-template>
